<h2>{{@title}}</h2>

<ul>
  {{#each @people as |person|}}
    <li>
      <button type="button" {{on 'click' (fn this.showPerson person)}}>{{person}}</button>
    </li> <!-- In "fn this.showPerson ", "person" is the argument. Strange way to pass arguments. :) -->
  {{/each}}
</ul>

<!-- '@' symbol in "title" and "people" makes them to get data from outside-->